<app-course-cover
  [title]="class.courseName ? class.courseName : ''"
  [deleteClass]="deleteClass.bind(this)"
  [classId]="class.courseID!"
></app-course-cover>
<div class="course-color">
  <div class="container">
    <div class="row my-3">
      <div class="col-3 mt-5">
        <!-- About course -->
        <app-about-course
          [about]="class.courseDescription ? class.courseDescription : ''"
        ></app-about-course>
      </div>
      <div class="col-6">
        <router-outlet></router-outlet>
      </div>
      <div class="col-3 mt-5">
        <!-- Agenda -->
        <app-agenda [devoirs]="class.devoirs ? class.devoirs : []"></app-agenda>
      </div>
    </div>
  </div>
</div>
