<div class="comment card-footer">
  <div class="d-flex align-items-start">
    <!-- Profile pic -->
    <app-user-link [userId]="user.id!">
      <img
        class="rounded-circle"
        width="40px"
        src="https://picsum.photos/200"
        alt=""
      />
    </app-user-link>
    <div class="mx-3 align-self-center flex-grow-1">
      <!-- Profile -->
      <app-user-link [userId]="user.id!">
        <h6 class="card-title">{{ user.nom }} {{ user.prenom }}</h6>
      </app-user-link>
      <!-- Course -->
      <p class="comment-body">
        {{ commentaire.contenuCommentaire }}
      </p>
    </div>
    <!-- Number of likes -->
    <!-- <div class="d-flex align-items-center align-self-end">
      <a href="">
        <i class="fa fa-heart"></i>
      </a>
      <span class="number text-muted mx-2">17</span>
    </div> -->
  </div>
</div>
