<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="mx-3 align-self-center flex-grow-1">
        <h5>Security</h5>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <h5 class="mb-3">Changer le mot de passe:</h5>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit($event)">
      <div class="mx-3 d-flex align-items-center mb-4">
        <label>Votre ancien mot de passe</label>
        <input
          type="password"
          class="form-control"
          placeholder="Votre ancien mot de passe"
          formControlName="oldPassword"
        />
      </div>
      <div class="mx-3 d-flex align-items-center mb-4">
        <label>Votre nouveau mot de passe</label>
        <input
          type="password"
          class="form-control"
          placeholder="Votre nouveau mot de passe"
          formControlName="newPassword"
        />
      </div>
      <div class="mx-3 d-flex align-items-center mb-4">
        <label>Confimer votre mot de passe</label>
        <input
          type="password"
          class="form-control"
          placeholder="Confimer votre mot de passe"
          formControlName="confirmedPassword"
        />
      </div>

      <input type="submit" class="form-control d-block w-100 btn" />
    </form>
  </div>
</div>
