<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="mx-3 align-self-center flex-grow-1">
        <h5>Language</h5>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <h5 class="mb-3">Change your language :</h5>
    <form>
      <div class="mx-3 d-flex align-items-center mb-4">
        <label>Choose your language</label>
        <select name="language" id="language" class="form-control">
          <option value="FR">FR</option>
          <option value="ANG">ANG</option>
        </select>
      </div>

      <input type="submit" class="form-control d-block w-100 btn" />
    </form>
  </div>
</div>
