<div class="cover">
  <div class="container">
    <h1 class="course-title text-center">{{ title }}</h1>
    <div ngbDropdown class="d-inline-block settings">
      <button class="btn btn-secondary" ngbDropdownToggle>
        <i class="fas fa-cog"></i>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Contact Professor</button>
        <button ngbDropdownItem>Share Course</button>
        <button ngbDropdownItem>Members</button>
        <button ngbDropdownItem>Edit Course</button>
        <button ngbDropdownItem>
          <span class="text-danger">Quit Course</span>
        </button>
      </div>
    </div>
  </div>
</div>
