.cover {
  background-image: url("/assets/cover.jpeg");
}

.cover > div {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}

.course-title {
  color: white;
}

.settings {
  position: absolute;
  left: 90%;
  top: 15%;
}
