a {
  text-decoration: none;
  color: black;
}

.card-title {
  color: #0275b1;
}

.assignment {
  color: #0275b1;
}

label {
  cursor: pointer;
}

.card {
  background-color: white;
}

i {
  color: #0275b1;
}
