<!-- TODO infos à changer dynamiquement -->
<a routerLink="/course" routerLinkActive="router-link-active">
  <div class="card my-3">
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="d-flex align-items-start">
        <!-- Course pic -->
        <img
          class="rounded-circle"
          width="70px"
          src="https://picsum.photos/200"
          alt=""
        />
        <div class="mx-3 align-self-center flex-grow-1">
          <!-- Course title -->
          <h5 class="card-title">UX UI Design</h5>
          <!-- Assignment -->
          <span class="assignment">Rapport du projet</span>
        </div>
        <!-- Date -->
        <span class="date mt-2 text-muted">14 juin 2021</span>
      </div>
    </div>
  </div>
</a>
