<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Settings</h5>
  </div>

  <!-- All settings -->
  <a href="/account/personal-information">
    <div class="message card-footer">
      <div class="d-flex align-items-center">
        <i class="fa fa-user-circle"></i>
        <label class="setting-title ml-2">Personal information</label>
      </div>
    </div> </a
  ><a href="/account/security">
    <div class="message card-footer">
      <div class="d-flex align-items-center">
        <i class="fa fa-lock"></i>
        <label class="setting-title ml-2">Security</label>
      </div>
    </div> </a
  ><a href="/account/language">
    <div class="message card-footer">
      <div class="d-flex align-items-center">
        <i class="fa fa-globe"></i>
        <label class="setting-title ml-2">Language</label>
      </div>
    </div>
  </a>
</div>
