<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Messagerie</h5>
    <div class="d-flex align-items-center justify-content-evenly">
      <!-- Profile pic -->
      <img
        class="rounded-circle mr-2"
        width="50px"
        src="https://picsum.photos/200"
        alt=""
      />
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Rechercher quelqu'un"
        />
        <button class="btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- All messages -->
  <a href="/messaging">
    <div class="message card-footer">
      <div class="d-flex align-items-start">
        <!-- Profile pic -->
        <img
          class="rounded-circle"
          width="40px"
          src="https://picsum.photos/200"
          alt=""
        />
        <div class="mx-3 align-self-center flex-grow-1">
          <h6 class="card-title">John Doe</h6>
          <!-- Message -->
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </a>

  <a href="/messaging">
    <div class="message card-footer">
      <div class="d-flex align-items-start">
        <!-- Profile pic -->
        <img
          class="rounded-circle"
          width="40px"
          src="https://picsum.photos/200"
          alt=""
        />
        <div class="mx-3 align-self-center flex-grow-1">
          <h6 class="card-title">John Doe</h6>
          <!-- Message -->
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </a>
</div>
