<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <!-- Profile pic -->
      <img
        class="rounded-circle"
        width="70px"
        src="https://picsum.photos/200"
        alt=""
      />
      <div class="mx-3 align-self-center flex-grow-1">
        <!-- Profile -->
        <h5 class="card-title">John Doe</h5>
        <!-- Course -->
        <span class="from">from : Flutter course community</span>
      </div>
      <!-- Date -->
      <span class="date mt-2 text-muted">14 juin 2021</span>
    </div>
    <p class="card-text mt-4">
      <!-- body -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque
      repellendus tempora fuga incidunt repellat doloremque voluptatum...
    </p>
    <a href="#" class="read-more">Read more</a>
  </div>
  <img class="card-img-bottom" src="https://via.placeholder.com/150" alt="" />
  <div class="card-footer d-flex">
    <!-- Number of likes -->
    <div class="d-flex align-items-center">
      <a href="">
        <i class="fa fa-heart"></i>
      </a>
      <span class="number text-muted mx-2">17</span>
    </div>
    <!-- Number of comments -->
    <div class="d-flex align-items-center">
      <a href="">
        <i class="far fa-comment-dots"></i>
      </a>
      <span class="number text-muted mx-2">2</span>
    </div>
  </div>
  <!-- comments -->
  <app-comment></app-comment>
  <app-comment></app-comment>
</div>
<hr />
