<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <!-- Profile pic -->
      <img
        class="rounded-circle"
        width="70px"
        src="https://picsum.photos/200"
        alt=""
      />
      <div class="mx-3 align-self-center flex-grow-1">
        <!-- Profile -->
        <!-- <h5 class="card-title">John Doe</h5> -->
        <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
        <!-- TODO fetch course -->
        <!-- <span class="from">from : Flutter course community</span> -->
      </div>
      <!-- Date -->
      <span class="date mt-2 text-muted">
        {{ post.datePublication | date }}
      </span>
    </div>
    <p class="card-text mt-4">
      <!-- body -->
      {{ post.contenuPublication }}
    </p>
    <!-- TODO Big publication -->
    <!-- <a href="#" class="read-more">Read more</a> -->
  </div>
  <img class="card-img-bottom" src="https://via.placeholder.com/150" alt="" />
  <div class="card-footer d-flex">
    <!-- Number of likes -->
    <div class="d-flex align-items-center">
      <button (click)="like()" class="btn btn-link">
        <i class="fa fa-heart"></i>
      </button>
      <span class="number text-muted mx-2">{{
        post.likes == null ? 0 : post.likes.length
      }}</span>
    </div>
    <!-- Number of comments -->
    <div class="d-flex align-items-center">
      <button class="btn btn-link">
        <i class="far fa-comment-dots"></i>
      </button>
      <span class="number text-muted mx-2">
        {{ post.commentaires == null ? 0 : post.commentaires.length }}
      </span>
    </div>
  </div>
  <!-- comments -->
  <app-comment *ngFor="let commentaire of post.commentaires"></app-comment>
</div>
<hr />
