<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary w-100 add-course-btn"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Ajouter un cours
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer un cours</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit($event)">
        <div class="modal-body">
          <div class="form-group">
            <label> Intitulé du cours </label>
            <input
              type="text"
              class="form-control"
              placeholder="Intitulé du cours"
              formControlName="courseName"
            />
          </div>
          <div class="form-group">
            <label> A propos </label>
            <textarea
              class="form-control"
              placeholder="A propos de ce cours"
              formControlName="courseDescription"
            ></textarea>
          </div>
          <div class="form-group">
            <label> Visibilité du cours </label>
            <select name="visibility" id="visibility" class="form-control">
              <option value="public">Publique</option>
              <option value="private">Privé</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
          </button>
          <button type="submit" class="btn btn-primary">Créer</button>
        </div>
      </form>
    </div>
  </div>
</div>
