a {
  text-decoration: none;
  color: black;
}

label {
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

i {
  color: #0275b1;
}

.btn {
  color: white;
  background-color: #0275b1;
}
